<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Hermes Transport Company website!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<form class="" method="post" th:action="@{/addorderdumb}" th:object="${addOrderForm}">
<div class="container">
    <div class="text-center">
        <h1>New order</h1>
        <p class="lead">
            Please, specify all order info:
        </p>
    </div>
    <div class="form-narrow form-horizontal coupled-upper coupled-borders fixed-min-height">
        <fieldset>
            <legend>Enter parameters of an order:</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('clientName')}? 'has-error'">
                <label for="clientName" class="col-lg-2 control-label">Client</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="clientName" placeholder="Client name" th:field="*{clientName}" />
                    <span class="help-block" th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">Incorrect client name</span>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-lg-2 control-label">Start date</label>
                <div class="col-lg-10">
                    <input class="form-control" type="date"
                           th:value="${addOrderForm.startDate}"
                           th:field="${addOrderForm.startDate}"
                           id="startDate"/>
                </div>
            </div>
            <div class="form-group">
                <label for="finishDate" class="col-lg-2 control-label">Finish date</label>
                <div class="col-lg-10">
                    <input class="form-control" type="date"
                           th:value="${addOrderForm.finishDate}"
                           th:field="${addOrderForm.finishDate}"
                           id="finishDate"/>
                </div>
            </div>
            <legend>Enter parameters of a cargo subtype:</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('cargoType')}? 'has-error'">
                <label for="role" class="col-lg-2 control-label">Type</label>
                <div class="col-lg-10">
                    <select id="segmentoSel" class="form-control" th:field="*{cargoType}">
                        <option value="" selected="selected" id="role">Cargo type</option>
                        <option th:each="segmento : ${T(com.hermes.core.domain.cargo.CargoType).values()}" th:value="${segmento}" th:text="${segmento}">Cargo Type</option>
                        <!--<option value="" selected="selected" id="role">Type</option>-->
                        <!--<option value="box">Box</option>-->
                        <!--<option value="barrel">Barrel</option>-->
                        <!--<option value="fragilebox">Fragile box</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('weight')}? 'has-error'">
                <label for="weight" class="col-lg-2 control-label">Weight</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="weight" placeholder="Weight" th:field="*{weight}" />
                    <span class="help-block" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Incorrect weight</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('volume')}? 'has-error'">
                <label for="volume" class="col-lg-2 control-label">Volume</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="volume" placeholder="Volume" th:field="*{volume}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}">Incorrect volume</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error'">
                <label for="amount" class="col-lg-2 control-label">Amount</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="amount" placeholder="Amount" th:field="*{amount}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Incorrect amount</span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-narrow-trans">
        <button type="submit" class="btn btn-success btn-lg coupled-lower full-width btn-finish-order">Add order</button>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</form>
</body>
</html>