<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Hermes Transport Company website!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<form action="#" th:action="@{/addorder(mode='embedded')}" method="get">
    <div class="container">
        <div class="text-center">
            <!--<h1>New place</h1>-->
            <!--<p class="lead">-->
            <!--Please, specify the place info:-->
            <!--</p>-->
        </div>
        <div class="form-narrow form-horizontal coupled-upper coupled-borders">
            <h3>Start adding order!</h3>
        </div>
        <div class="form-narrow-trans">
            <button type="submit" class="btn btn-success btn-lg coupled-lower full-width btn-finish-order">START</button>
        </div>
        <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
    </div>
</form>
</body>
</html>